@using YunusExpress_MVC.Models
@model List<Receiver>
@{
    ViewData["Title"] = "Index";
}


<h2>Receivers</h2>


<table class="table">
    <thead>
        <tr>
            <th>Müştəri Nömrəsi</th>
            <th>Müştəri Adı</th>
            <th>Telefon</th>
            <th>Tarix</th>
            <th>ƏDV</th>
            <th>Bank Adı</th>
            <th>VÖEN</th>
            <th>Qiymət Seçimi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClientCode</td>
                <td>@item.ReceiverName</td>
                <td>@item.ReceiverPhoneNum</td>
                <td>@item.ContractDate.ToString("yyyy-MM-dd")</td>
                <td>@(item.IsEDV ? "Var" : "Yoxdu")</td>
                <td>@item.BankName</td>
                <td>@item.Voen</td>
                <td>@(item.QiymetVar ? "Yeni Qiymət" : "Köhnə Qiymət")</td>
              
            </tr>
        }
    </tbody>
</table>
