@using YunusExpress_MVC.Models
@using YunusExpress_MVC.ViewModels
@model CourierSalaryPageViewModel

@{
    ViewData["Title"] = "Sifariş Siyahısı";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuryerlərin Maaşı</title>
    <link rel="stylesheet" href="~/assets/style/reset.css">
    <link rel="stylesheet" href="~/assets/style/findAndChange.css">
    <link href="~/assets/favicon.ico" rel="icon" />
</head>
 @*<a style="margin-left:150px; margin-bottom:10px" asp-controller="Courier" asp-action="Index" class="btn btn-primary">Geri</a>*@

 <body>
      <div class="container">
        <div class="text-section" style="width:380px">
            <label class="text-label" style="width: 100px;" for="courierSelect">Kuryer seçin:</label>
            <select id="courierSelect" name="courierName" class="text-input" style="width: 100px;">
                <option value="">Hamısı</option>
                @foreach (var courier in Model.Couriers)
                {
                    <option value="@courier.CourierName">@(courier.CourierCode)</option>
                }
            </select>
            <input type="text" id="courierNameDisplay" class="text-input" style="width:150px;" readonly />

             @* @Html.DropDownList(
                      "courierName",
                      ViewBag.Couriers as List<SelectListItem>,
                      "Hamısı",
                      new
                      {
                          @class = "text-input",
                          style = "width: 100px;",
                          id = "courierDropdown",
                          onchange = "this.form?.submit()" // Avtomatik filterləmək üçün (istəyə bağlı)
                      }
                      ) *@

        </div>
          <div class="form-table">
              <table class="styled-table">
                  <thead>
                      <tr>
                          <th class="column-waybill">Waybill</th>
                          <th class="column-gonderen">Göndərən</th>
                          <th class="column-gonderen-unvan">Göndərənin Ünvanı</th>

                          <th class="column-tarix">Tarix</th>
                          <th >Saat</th>
@*                           <th class="column-nov">Xidmət Növü</th>
 *@                          <th>Kuryer Nömrəsi</th>

                          <th class="column-kuryer">Kuryer</th>
                          <th class="column-alici">Alıcı</th>
                          <th class="column-alici-unvan">Alıcının Ünvanı</th>
                          <th class="column-mebleg">Məbləğ</th>
                          <th class="column-mebleg">Kuryerin Faizi</th>
                          <th class="column-mebleg">Faizin Məbləği</th>
                      </tr>
                  </thead>
                  <tbody id="allDatas">
                      @foreach (var item in Model.Orders)
                      {
                          <tr>
                              <td>@item.InvoiceNo</td>
                            <td>@item.ReceiverName</td>
                            <td>@item.ReceiverAddress</td>
                            <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@item.StartDate.ToString("HH:mm")</td>
@*                               <td>@item.ServiceType!.ServiceType</td>
 *@                            <td>@item.ToCourier!.CourierCode</td>
                              <td>@item.ToCourier!.CourierName</td>
                              <td>@item.SenderName</td>
                              <td>@item.SenderAddress</td>
                              <td>@item.FinalPrice</td>
                              <td>36%</td>
                             <td>@((item.FinalPrice*36/100).ToString("0.00"))</td>
                         </tr>
                    }
                    

                </tbody>
                
              </table>
          </div>
          <div class="back-btn">
            <a asp-action="CourierHomePage" asp-controller="Courier">⬅</a>
          </div>
      </div>
      <!-- FORMU dəyişdik: artıq submit olmur -->
  @*   <div style="margin: 20px 0; text-align:center;">
         <label for="courierSelect">Kuryer seçin:</label>
        <select id="courierSelect" name="courierName">
            <option value="">Hamısı</option>
            @foreach (var courier in Model.Couriers)
            {
                <option value="@courier.CourierName">@(courier.CourierCode+ "->" +courier.CourierName)</option>
            }
        </select> 
    </div> *@
      @* <h3 style="text-align:center;">Ümumi Maaş: <span id="totalSalary">@Model.TotalSalary.ToString("0.00") ₼</span></h3> *@
    <div class="print-btn">
        <a href="javascript:void(0);" onclick="window.print()">Print</a>
    </div>
    <script>

        document.getElementById('courierSelect').addEventListener('change', function () {

            const selectedCourier = this.value;
            
            //kuryerin adinin inputa verilmesi
            document.getElementById('courierNameDisplay').value = selectedCourier;

            fetch(`/Courier/GetCourierOrders?courierName=${encodeURIComponent(selectedCourier)}`)
                .then(response => response.json())
                .then(data => {
                    const tbody = document.getElementById('allDatas');
                    tbody.innerHTML = '';

                    data.orders.forEach(order => {
                        const [date, time] = order.startDate.split(' ');
                        // const row = document.createElement('tr');
                        row = `
                        <tr>
                                <td>${order.invoiceNo}</td>
                                <td>${order.senderName}</td>
                                <td>${order.senderAddress}</td>
                                <td>${date}</td>
                                <td>${time}</td>
                                <td>${order.serviceType}</td>
                                <td>${order.courierCode}</td>
                                <td>${order.courierName}</td>
                                <td>${order.receiverName}</td>
                                <td>${order.receiverAddress}</td>
                                <td>${order.finalPrice.toFixed(2)}</td>
                                <td>36%</td>
                                <td>${order.salaryAmount.toFixed(2)}</td>
                         </tr>

                            `;
                        tbody.innerHTML += row;
                    });
                    tbody.innerHTML += `
                    <tfoot>
                        <tr>
                            <td colspan="13" style="text-align:right; font-weight:bold;">
                                Ümumi Maaş: <span id="totalSalary"></span>
                            </td>
                        </tr>
                    </tfoot>`
                    
                    document.getElementById('totalSalary').textContent = `${data.totalSalary.toFixed(2)} ₼`;

                })
                .catch(error => {
                    console.error('Xəta:', error);
                });
        });
        

    </script>
  </body>
</html>